language: node_js

services:
  - docker

addons:
  apt:
    sources:
       - ubuntu-toolchain-r-test
    update: true
    packages:
      - libx11-dev
      - libxkbfile-dev
      - libgconf-2-4
  homebrew:
    update: true
    packages:
      - yarn

env:
  global:
    - ELECTRON_CACHE=$HOME/.cache/electron
    - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder
    - YARN_GPG=no

jobs:
  include:
    - name: Ubuntu Xenial (16.04) / NodeJS 14 / Python 2
      os: linux
      dist: xenial
      node_js: 14

    - name: Ubuntu Xenial (16.04) / NodeJS 12 / Python 2 / Cypress @ FusionDB Nightly
      os: linux
      dist: xenial
      node_js: 12
      env:
        - IMG=repo.evolvedbinary.com:9543/evolvedbinary/fusiondb-server:nightly
      before_script:
        - docker login --username $FDB_NIGHTLY_DOCKER_USER --password $FDB_NIGHTLY_DOCKER_PASS repo.evolvedbinary.com:9543
        - docker pull $IMG
        - docker create  --name fusiondb-server-ci -p 8080:4059 $IMG
        - docker start fusiondb-server-ci
        - sleep 10
      script:
        - yarn test
        - yarn run cypress run --record --tag "FusionDB,Nightly"

    - name: Ubuntu Xenial (16.04) / NodeJS 12 / Python 2 / Cypress @ FusionDB 1.0.0-ALPHA3
      os: linux
      dist: xenial
      node_js: 12
      env:
        - IMG=repo.evolvedbinary.com:9443/evolvedbinary/fusiondb-server:1.0.0-ALPHA3
      before_script:
        - docker login --username $FDB_DOCKER_USER --password $FDB_DOCKER_PASS repo.evolvedbinary.com:9443
        - docker pull $IMG
        - docker create  --name fusiondb-server-ci -p 8080:4059 $IMG
        - docker start fusiondb-server-ci
        - sleep 10
      script:
        - yarn test
        - yarn run cypress run --record --tag "FusionDB,1.0.0-ALPHA3"

    - name: Ubuntu Xenial (16.04) / NodeJS 12 / Python 2 / Cypress @ eXist-db Latest
      os: linux
      dist: xenial
      node_js: 12
      env:
        - IMG=existdb/existdb:latest
        - API_XAR=https://www.fusiondb.com/download/fusion-studio-api-1.1.1.xar
      before_script:
        - docker pull $IMG
        - docker create  --name exist-ci -p 8080:8080 $IMG
        - wget $API_XAR
        - docker cp ./*.xar exist-ci:exist/autodeploy
        - docker start exist-ci
        - rm *.xar
        - sleep 10
      script:
        - yarn test
        - yarn run cypress run --record --tag "eXist-db,Latest"

    - name: Ubuntu Xenial (16.04) / NodeJS 12 / Python 2 / Cypress @ eXist-db 5.2.0
      os: linux
      dist: xenial
      node_js: 12
      env:
        - IMG=existdb/existdb:5.2.0
        - API_XAR=https://www.fusiondb.com/download/fusion-studio-api-1.1.1.xar
      before_script:
        - docker pull $IMG
        - docker create  --name exist-ci -p 8080:8080 $IMG
        - wget $API_XAR
        - docker cp ./*.xar exist-ci:exist/autodeploy
        - docker start exist-ci
        - rm *.xar
        - sleep 10
      script:
        - yarn test
        - yarn run cypress run --record --tag "eXist-db,5.2.0"

    - name: Ubuntu Focal (20.04) / NodeJS 14 / Python 3
      os: linux
      dist: focal
      node_js: 14

    - name: Ubuntu Focal (20.04) / NodeJS 12 / Python 3
      os: linux
      dist: focal
      node_js: 12

    - name: macOS High Sierra (10.13) / NodeJS 14 / Python 2
      os: osx
      osx_image: xcode9.3
      node_js: 14

    - name: macOS High Sierra (10.13) / NodeJS 12 / Python 2
      os: osx
      osx_image: xcode9.3
      node_js: 12

    - name: macOS Catalina (10.15) / NodeJS 14 / Python 2
      os: osx
      osx_image: xcode12
      node_js: 14

    - name: macOS Catalina (10.15) / NodeJS 12 / Python 2
      os: osx
      osx_image: xcode12
      node_js: 12

    - name: macOS Catalina (10.15) / NodeJS 14 / Python 3
      os: osx
      osx_image: xcode12
      node_js: 14
      env:
        - PYTHON=/usr/bin/python3
      before_install:
        - $PYTHON --version

    - name: macOS Catalina (10.15) / NodeJS 12 / Python 3
      os: osx
      osx_image: xcode12
      node_js: 12
      env:
        - PYTHON=/usr/bin/python3
      before_install:
        - $PYTHON --version

before_install:
 - python --version

install:
  - yarn
  - yarn run sass
  - yarn run rebuild:browser
  - cd browser-app
  - yarn start &
  - cd ..

script:
  - yarn test

before_cache:
  - rm -rf $ELECTRON_BUILDER_CACHE/wine

cache:
  yarn: true
  npm: true
  directories:
    - $ELECTRON_CACHE
    - $ELECTRON_BUILDER_CACHE
    - $HOME/.cache/Cypress
