language: node_js

node_js:
  - "10"

matrix:
  include:
    - os: linux
      dist: xenial
      services:
        - docker
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - libx11-dev
            - libxkbfile-dev
            - libgconf2-4
      env:
        # Adjust as necessary following exist-db development
        # - IMG=existdb/existdb:experimental
        - IMG=existdb/existdb:latest
        # - IMG=existdb/existdb:release
        # Adjust for new releases of api
        - API_XAR=https://github.com/evolvedbinary/fusion-studio-api/releases/download/0.1.0/fusion-studio-api-0.1.0.xar
    - os: osx
      osx_image: xcode10.1
      homebrew:
        packages:
          - yarn
      before_install: skip
      script: skip

#  - os: windows

env:
  global:
    - ELECTRON_CACHE=$HOME/.cache/electron
    - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder
    - YARN_GPG=no

before_install:
  - docker pull $IMG
  - docker create  --name exist-ci -p 8080:8080 $IMG
  - wget $API_XAR
  - docker cp ./*.xar exist-ci:exist/autodeploy
  - docker start exist-ci
  - rm *.xar
  - sleep 10

install:
  - yarn
  - yarn run sass
  - yarn run rebuild:browser
  - cd browser-app
  - yarn start &
  - cd ..

before_script:
  - yarn test

script:
  - yarn run cypress run

before_cache:
  - rm -rf $HOME/.cache/electron-builder/wine

cache: yarn
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libx11-dev
      - libxkbfile-dev
