span.checkbox {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin: 3px;
  cursor: pointer;
  &.disabled {
    cursor: default;
    opacity: 0.5;
  }
  &.inline {
    margin-left: 12px;
    position: relative;
    top: 1px;

  }
  &.default-case {
    > .checkbox-label {
      text-transform: unset;
    }
  }
  > .checkbox-box {
    display: block;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    color: var(--theia-button-foreground);
    background-color: var(--theia-button-background);
    position: relative;
    &.checked > span {
      display: block;
      border: 2px solid white;
      width: 8px;
      height: 3px;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
      top: 4px;
      position: relative;
      left: 2px;
    }
  }
  > .checkbox-label {
    text-transform: capitalize;
    position: relative;
    top: 2px;
  }
}
