.fusion-tabs {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 71px);
  .dialogContent & {
    margin: -12px -12px -4px;
  }
  .pb-headers {
    white-space: nowrap;
    background: var(--theia-editor-background);
    .pb-header {
      background: var(--theia-tab-inactiveBackground);
      color: var(--theia-tab-inactiveForeground);
      border-left: 1px solid var(--theia-editor-background);
      border-bottom: 1px solid var(--theia-tab-activeBackground);
      display: inline-block;
      padding: 8px 12px;
      cursor: pointer;
      &.active {
        background: var(--theia-tab-activeBackground);
        color: var(--theia-tab-activeForeground);
      }
    }
  }
  .pb-body {
    display: flex;
    flex-direction: row;
    .pb-tab-container {
      overflow: hidden;
      width: 0;
      &.active {
        width: auto;
        flex: 1;
      }
      .pb-tab {
        padding: 8px;
        width: 400px;
      }
    }
  }
}