.pebble-item {
  white-space: nowrap;

  display: flex;
  align-items: baseline;
  width: calc(100% - var(--theia-scrollbar-rail-width));

  i {
    margin-right: 6px;
    min-width: 1.28571429em;
  }
  &.pebble-item-new {
    position: relative;
    &:before {
      content: "";
      display: block;
      background: red;
      width: 8px;
      height: 8px;
      position: absolute;
      z-index: 1;
      border-radius: 4px;
      left: -2px;
      top: 0px;
    }
  }
  .name {
    flex-grow: 1 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &.pebble-item-connection {
    display: flex;
    align-items: center;
    max-width: 100%;
    div {
      white-space: nowrap;
    }
  }
}