table.keys {
  width: 100%;
  &.no-label tr td.label {
    display: none;
  }
  tr {
    td {
      &.label {
        padding-right: 8px;
        white-space: nowrap;
        font-weight: bold;
        text-transform: capitalize;
      }
      &.value {
        width: 100%;
        select,
        input {
          width: 100%;
        }
      }
      hr {
        border-color: var(--theia-ui-button-color-secondary);
      }
    }
  }
}