.pebble-tabs {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 71px);
  .dialogContent & {
    margin: -12px -12px -4px;
  }
  .pb-headers {
    white-space: nowrap;
    background: var(--theia-layout-color0);
    .pb-header {
      background: var(--theia-layout-color1);
      border: 1px solid var(--theia-layout-color0);
      border-bottom: none;
      display: inline-block;
      padding: 8px 12px;
      cursor: pointer;
      &.active {
        background: var(--theia-ui-dialog-color);
        border-color: var(--theia-ui-dialog-color);
      }
    }
  }
  .pb-body {
    display: flex;
    flex-direction: row;
    .pb-tab-container {
      overflow: hidden;
      width: 0;
      &.active {
        width: auto;
        flex: 1;
      }
      .pb-tab {
        padding: 8px;
        width: 400px;
      }
    }
  }
}