@import "../browser/widget/home.scss";
@import "../browser/widget/toolbar.scss";
@import "../browser/widget/item.scss";

.new-connection-dialog-container,
.new-from-template-dialog-container {
  > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    span {
      margin-bottom: 8px;
    }
  }
}