.dialog-container {
  &.vertical-form, .vertical-form {
    > div {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
      span {
        margin-bottom: 8px;
      }
    }
  }
  input, select, button {
    &:disbaled {
      opacity: 0.5;;
    }
  }
}
.awesomplete {
  input {
    box-sizing: border-box;
    width: 100%;
  }
  ul[role=listbox] {
    margin-top: -1px;
    border: 1px solid var(--theia-dropdown-border);
    border-top-style: none;
    li {
      &:hover, &[aria-selected=true] {
        background: var(--theia-selection-background);
        mark {
          color: inherit;
          background-color: transparent;
        }
      }
      mark {
        color: inherit;
        background-color: transparent;
        text-decoration: underline;
      }
      background-color: var(--theia-dropdown-background);
      color: var(--dropdown-foreground);
      padding: 2px 5px
    }
  }
}