#fusion-toolbar {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  margin-bottom: 4px;
  height: 23px;
  >.title {
    display: flex;
  }
  > span:first-child {
    flex: 1;
    i {
      margin-left: 8px;
      margin-right: 4px;
    }
  }
  .fusion-action {
    min-width: 23px;
    height: 23px;
    padding: 0;
    margin: 0;
    line-height: 23px;
    width: 23px;
    &.color-red {
      background-color: var(--md-red-900);
      &:hover:not([disabled]) {
        background-color: var(--md-red-600);
      }
    }
  }
}

// no toolbar hover
.fusion-view {
  .ReactVirtualized__Grid__innerScrollContainer[role=rowgroup] {
    > div:first-child {
      > .theia-TreeNode {
        &:hover {
          cursor: default;
          background: var(--theia-layout-color0);
        }
      }
    }
  }
}