.fs-icon {
    height: var(--theia-icon-size);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    padding-right: 4px;
}
.fs-inline-input {
    position: relative;
    div {
        position: fixed;
        z-index: 1;
        box-sizing: border-box;
        white-space: initial;
        background: var(--theia-inputValidation-errorBackground);
        border: var(--theia-border-width) solid var(--theia-inputValidation-errorBorder);
        border-top: 0;
        & + input {
            outline: var(--theia-border-width) solid var(--theia-inputValidation-errorBorder) !important;
        }
    }
    input {
        position: absolute;
        box-sizing: border-box;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        padding: 0;
    }
}