.fusion-welcome {
  padding: 1em;
  color: var(--theia-ui-font-color1);
  a {
    border: none;
    color: var(--theia-ui-accent-color1);
    font-weight: 500;
    outline: 0;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}