.dialog-container {
  &.vertical-form {
    > div {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
      span {
        margin-bottom: 8px;
      }
    }
  }
  select option {
    background-color: var(--theia-ui-dialog-color);
  }
}